.footer_section {
    background-image: url('../../assests/footer.png');
    height: 35vh;
    display: flex;
    justify-content: center;
}

.footer_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* justify-content: center; */
    gap: 5rem;
}

.footer_left h2 {
    color: white;
    font-size: 28px;
    width: 80%;
    margin-bottom: 1rem;
}

.footer_left p {
    color: white;
}

input {
    width: 70%;
    height: 3vh;
    background: none;
    border: 1px solid white;
    color: white;
    padding: 20px;
}


/* ============== MEDIA QUERIES (MEDIUM) ============ */

@media screen and (max-width: 1024px) {}


/** ============== MEDIA QUERIES (SMALL) ============ */

@media screen and (max-width: 600px) {
    .footer_container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 0rem;
    }
    .footer_left h2 {
        color: white;
        font-size: 18px;
        width: 80%;
        margin-bottom: 0.5rem;
    }
    .footer_left p {
        color: white;
        font-size: 10px;
    }
}